*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

header{
    display: flex;
    padding: 1em;
    background-color: #FF725E;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.52em;
    margin-left: 40px;
}
#logo{
    font-size:2em;
    letter-spacing:3px;
    margin: 0 1em;
    font-weight: 700;
    text-decoration: none;
    color: #fff;

}


header input{
    border: 1px solid #fff;
    background:#fff;
    color: #aaa;
    display: inline-block;
    padding:0.3em 1em;
    border-radius:2px;
}




#feature{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding:2em;
    font-size:1.4em;
    color: #FF725E;
    margin-top: 5em;
    letter-spacing: 2px;

}
.feature-img img{
    width: 80%;
}
.feature-img,
.feature-txt{
    width: 40%;
}
.feature-txt h1,
.feature-txt p
{
    margin-bottom: 0.8em;
}


/* Search */
#go-to-search{
    display: inline-block;
    padding:0.3em 0.6em;
    font-size:2em;
    color: #fff;
    text-decoration: none;
    background-color: #FF725E;
    border-radius:5px;
}
#search-form-body {
    display: flex;
    justify-content: center;

}
#search-form-body input[type="text"]::placeholder{
    color: #FF725E;
}
#search-form-body input[type="text"]{
    font-size:2em;
    display:inline-block;
    padding:0.3em 0.7em;
    outline:none;
    border: 1px solid #FF725E;
    border-radius: 5px;
    background-color: transparent;
    color: #FF725E;
    margin-top: 1.6em;
}
#search-form-body input[type="submit"]{
    display:none;
}

/* Result */

#result-conatiner {
    padding:3em;
    height:100vh;
}
#result-conatiner h1 {
    text-align:center;
    color: #FF725E;
}
#result{
    margin-top: 5em;
    display:flex;
    flex-wrap: wrap;
    gap: 5em;
    padding:3em;
}
#result a{
    display: inline-block;
    text-decoration:none;
    width: 15%;
}


.food-block{
    background-color:  #FF725E;
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    padding:0.2em;
    border-radius:8px;
    font-size:1.5em;
    color: #fff;

    gap:5px;
}
.food-block span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.food-block img{
    border-radius: 8px 8px 0 0;
    background-size: cover;
    width: 100%;
}


/* Today & FOOD */

#today,
#food{
    padding:5em;
}
#short{
    display:flex;
    align-items: center;
    gap: 2em;
}
#img,#info{
    width:50%;
}
#img img{
    /* width: 400px; */
    max-width: 100%;
}
#info{
    padding:1em;
}
#info h1{
    font-size:3em;
    margin:0.5em 0;
}
#info #tags::before{
    content:"Tags:";
    font-size:1.5em;

}
#info #tags{
    margin-top: 5em;
}
#info .tag{
    display:inline-block;
    font-size:1.5em;
    color: grey;
    padding: 0.2em;
    border: 2px solid grey;
    border-radius:5px;
    margin:0.2em;

}
#info #area::before{
    content:"Country/Area:";
    font-size:1em;
    color:black;
}
#info #area{
    display:inline-block;
    font-size:2em;
    color: grey;
    margin-top: 1em;

}
#info ul {
    margin:2em 0;
}
#info h3{
    font-size:2em;
    margin-top: 1em;
}
#info ul li{
    margin-left: 2em;
    font-size:1.2em;
    margin-top: 0.3em;
}

#long p{
    font-size:1.5em;
    color: #222;
}